# Population API

The following notebook obtains the population per country using the World Population REST API, by World Data Labs.

In [3]:
#Import dependencies
import pandas as pd
import requests

In [4]:
#Import API Key
from config import api_key

In [9]:
#Get information
url = "https://ajayakv-rest-countries-v1.p.rapidapi.com/rest/v1/all"
headers = {
    'x-rapidapi-key': api_key,
    'x-rapidapi-host': "ajayakv-rest-countries-v1.p.rapidapi.com"
    }
countryinfo = requests.request("GET", url, headers=headers).json()

In [10]:
#Get values for country, code and population
country = []
code = []
population = []
for info in countryinfo:
    country.append(info['name'])
    code.append(info['alpha3Code'])
    population.append(info['population'])

In [11]:
#Create DataFrame from values
countries = pd.DataFrame({'Country': country, 'Country Code': code, 'Population':population})
countries.head()

          Country Country Code  Population
0     Afghanistan          AFG    26023100
1   Åland Islands          ALA       28875
2         Albania          ALB     2893005
3         Algeria          DZA    39500000
4  American Samoa          ASM       55519

In [12]:
#Export to CSV
countries.to_csv('../resources/countries.csv',index=False)